beautifulsoup4==4.13.4
chromadb==1.0.12
dash==3.0.4
dash-bootstrap-components==2.0.3
Flask==3.0.3
huggingface-hub==0.33.0
langchain==0.3.25
langchain-chroma==0.2.4
langchain-community==0.3.25
langchain-core==0.3.65
langchain-google-genai==2.1.5
langchain-huggingface==0.3.0
langchain-mistralai==0.2.10
langchain-ollama==0.3.3
langchain-openai==0.3.23
langchain-text-splitters==0.3.8
langchain-together==0.3.0
numpy==2.3.0
ollama==0.5.1
plotly==6.1.2
regex==2024.11.6
requests==2.32.3
selenium==4.33.0
sentence-transformers==4.1.0
torch==2.7.1
transformers==4.52.4
urllib3==2.4.0
uvicorn==0.34.3